*{
    background-color: powderblue;
    
}
h1.f{
    color:black;
}
ul.sp
{
 
	  list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
	}
li.sa
	 {
    float: left;
}

li.sa a {
    display: block;
    padding: 8px;
    background-color: #F0B27A    ;
	color:olivedrab;
}