<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sreevani Anoohya Guestbook</title>
<link rel="stylesheet" href="/guestbook.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container">
        <ul class="sp">
                <li class="sa"><a href="/about">Sreevani Anoohya Tadibina</a></li>
                <li class="sa"><a href="/about">Home</a></li>
                <li class="sa"><a href="/Mychoice">My choice</a></li>
                <li class="sa"><a href="/contact">Contact</a></li>
                <li class="sa"><a href="/guestbook">guestbook</a></li>
              </ul>
<h1 class="f">
Sreevani Anoohya Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
</h1>
