
body{
	background-image: url("lk.jpg");
	  }
	h1#ab{
	color:burlywood;
	text-align:center;
}
.img-circle{
	float:right;
	width:128px;
	height:128px;
	border-radius:75%;
}
    h2.bg{
	color:orange  ;
}
    h2.p{
	 color:orange;
}
    h3.in{

	 color:orange;
}
 table,tr,td{
	 border:1px solid black;
 }
 ul.sp
{
 
	  list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
	}
li.sa
	 {
    float: left;
}

li.sa a {
    display: block;
    padding: 8px;
    background-color: #F0B27A    ;
	color:olivedrab;
}
.d{
	text-align:center;
}